<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:ehcache="http://www.springmodules.org/schema/ehcache"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring
       http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring/ehcache-spring-1.1.xsd">

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="/WEB-INF/jdbc.properties" />

            <!--    MySQL      -->

    <bean id="mysqlDataSource" class="org.apache.commons.dbcp.BasicDataSource"
          p:driverClassName="${mysql.driverClassName}"
          p:url="${mysql.url}"
          p:username="${mysql.username}"
          p:password="${mysql.password}"
          />

    <bean id="mysqlMap"
          class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
        <property name="configLocation">
            <value>/WEB-INF/mysqlMapConfig.xml</value>
        </property>
        <property name="dataSource" ref="mysqlDataSource" />
    </bean>

    <bean id="mysqlTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource">
            <ref bean="mysqlDataSource"/>
        </property>
    </bean>

    <tx:annotation-driven transaction-manager="mysqlTransactionManager"/>
    <aop:config>
        <!--<aop:aspect id="checkCardMobiStatus" ref="webServiceAop">
            <aop:pointcut id="webServiceMobi" expression="target(com.vss.cardservice.service.impl.MobiCardServiceImpl)"/>
            <aop:around pointcut-ref="webServiceMobi" method="checkStatus"/>
        </aop:aspect>
        <aop:aspect id="checkVinaStatus" ref="webServiceAop">
            <aop:pointcut id="webServiceVina" expression="target(com.vss.cardservice.service.impl.VinaCardServiceImpl)"/>
            <aop:around pointcut-ref="webServiceVina" method="checkStatus"/>
        </aop:aspect>-->
        <aop:aspect id="checkInsertTransaction" ref="methodExecutionAop">
            <aop:pointcut id="insertTransactionAop" expression="execution(* com.vss.cardservice.service.impl.TransactionServiceImpl.createTransaction(..))"/>
            <aop:around pointcut-ref="insertTransactionAop" method="checkMethodExecution"/>
        </aop:aspect>
        <aop:aspect id="checkUpdateTransaction" ref="methodExecutionAop">
            <aop:pointcut id="updateTransactionAop" expression="execution(* com.vss.cardservice.service.impl.TransactionServiceImpl.updateTransaction(..))"/>
            <aop:around pointcut-ref="updateTransactionAop" method="checkMethodExecution"/>
        </aop:aspect>
    </aop:config>

   <!-- <bean id="webServiceAop" class="com.vss.cardservice.aop.WebServiceAop">
        <property name="timeOut" value="${aopRefreshTimeOut}"/>
    </bean>-->

    <bean id="methodExecutionAop" class="com.vss.cardservice.aop.MethodExecutionAop">
        <property name="timeOut" value="${methodAopRefreshTimeOut}"/>
    </bean>
<!-- Mail Service -->

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="host" value="mail.vietpay.vn" />
        <property name="port" value="25"/>
        <property name="username" value="vcard@vietpay.vn"/>
        <property name="password" value="123456"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">false</prop>
            </props>
        </property>
    </bean>

    <bean id="tmpMail" class="org.springframework.mail.SimpleMailMessage">
        <property name="from" value="vcard@vietpay.vn"/>
    </bean>

    <bean id="mailService" class="com.vss.cardservice.service.impl.MailServiceImpl">
        <property name="mailSender" ref="mailSender"/>
        <property name="javaMailSender" ref="mailSender"/>
        <property name="tmpMail" ref="tmpMail"/>
        <property name="fromMime" value="vcard@vietpay.vn"/>
        <!--<property name="fromMime" value="voucher@pasolutions.vn"/>-->
        <!--<property name="fromMime" value="ds@ahha.vn"/>-->
    </bean>
    <!--  -->
    <bean id="baseService" class="com.vss.cardservice.service.util.BaseService">
        <property name="mysqlMap" ref="mysqlMap"/>
    </bean>
    <bean id="com.vss.cardservice.service.impl.AlertMessageImpl" class="com.vss.cardservice.service.impl.AlertMessageImpl">
        <property name="mailSender" ref="mailSender"/>
        <property name="javaMailSender" ref="mailSender"/>
        <property name="tmpMail" ref="tmpMail"/>
        <property name="fromMime" value="vcard@vietpay.vn"/>
        <!--<property name="fromMime" value="voucher@pasolutions.vn"/>-->
        <!--<property name="fromMime" value="ds@ahha.vn"/>-->
    </bean>
    <bean id="mailServiceUtil" class="com.vss.cardservice.service.util.MailServiceUtil">
        <property name="alertService" ref="com.vss.cardservice.service.impl.AlertMessageImpl"/>
        <property name="partnerService" ref="partnerService"/>
    </bean>
    <bean id="partnerService" class="com.vss.cardservice.service.impl.PartnerServiceImpl" parent="baseService"/>
    <bean id="transactionService" class="com.vss.cardservice.service.impl.TransactionServiceImpl" parent="baseService">
        <property name="providerService" ref="providerService"/>
    </bean>
    <bean id="issuerService" class="com.vss.cardservice.service.impl.IssuerServiceImpl" parent="baseService"/>
    <bean id="gameAccountService" class="com.vss.cardservice.service.impl.GameAccountServiceImpl" parent="baseService"/>
    <bean id="providerService" class="com.vss.cardservice.service.impl.ProviderServiceImpl" parent="baseService"/>

    <bean id="cardServiceLocalServiceUtil" class="com.vss.cardservice.service.util.CardServiceLocalServiceUtil">
        <property name="transactionService" ref="transactionService"/>
        <property name="gameAccountService" ref="gameAccountService"/>
        <property name="issuerService" ref="issuerService"/>
    </bean>
    
    <bean id="cardServiceLocalFactory" class="com.vss.cardservice.service.util.CardServiceLocalFactory">
        <property name="mapService">
            <map>
                <entry key="VINA" value-ref="ebpService"/>
                <entry key="MOBI" value-ref="ebpService"/>
                <entry key="VT" value-ref="ebpService"/>
                
                <!--<entry key="MOBI" value-ref="vtcServiceImpl"/>
                <entry key="VINA" value-ref="vtcServiceImpl"/>
                <entry key="VT" value-ref="vtcServiceImpl"/>-->

                <!--<entry key="MOBI" value-ref="mobileCardService"/>
                <entry key="VINA" value-ref="vinaCardService"/>
                <entry key="VT" value-ref="viettelCardService"/>-->
                
                <!--<entry key="TEST" value-ref="testCardService"/>-->
                <!--<entry key="KM" value-ref="promotionService"/>-->
                <!--<entry key="cardService" value-ref="cardServiceImpl"/>-->
                <!--<entry key="VCOIN" value-ref="fgameService"/>
                <entry key="BAC" value-ref="fgameService"/>-->
                <!--<entry key="EPAY" value-ref="vnptEpayService"/>-->
                
            </map>
        </property>
    </bean>
    <bean id="viettelCardService" class="com.vss.cardservice.service.impl.ViettelCardServiceImpl"/>
    <bean id="vnptEpayService" class="com.vss.cardservice.service.impl.VNPTEPAYServiceImpl"/>
    <bean id="mobileCardService" class="com.vss.cardservice.service.impl.MobiCardServiceImpl"/>
    <bean id="vinaCardService" class="com.vss.cardservice.service.impl.VinaCardServiceImpl"/>
    <bean id="fgameService" class="com.vss.cardservice.service.impl.FGameServiceImpl"/>
    <bean id="vdcService" class="com.vss.cardservice.service.impl.VDCServiceImpl"/>
    <bean id="ebpService" class="com.vss.cardservice.service.impl.EBPServiceImpl"/>
    <bean id="promotionService" class="com.vss.cardservice.service.impl.PromotionServiceImpl"/>
    <bean id="vtcService" class="com.vss.cardservice.service.impl.VTCServiceImpl"/>
    
    <bean id="cardServiceImpl" class="com.vss.cardservice.service.impl.CardServiceImpl">
        <property name="mapService">
            <map>
                <entry key="VCOIN" value-ref="vtcService"/>
                <entry key="BAC" value-ref="vtcService"/>
            </map>
        </property>
    </bean>
    <!--0 0/5 * * * ? : 5 phut 1 lan-->
    <!--0 0/5 * * * ? : Cu den phut thu nam thi thuc hien-->

    <bean id="keepMobiSessionJob" class="com.vss.cardservice.service.job.KeepSessionJob">
        <property name="cronExpression" value="0 0/1 * * * ?"/>
    </bean>
    <bean id="checkMobiWebService" class="com.vss.cardservice.service.job.CheckMobiWebService">
        <property name="cronExpression" value="0 0/5 * * * ?"/>
    </bean>
    <!--<bean id="keepVnptEpaySessionJob" class="com.vss.cardservice.service.job.KeepVnptEpaySessionJob">
        <property name="cronExpression" value="0 0 0/10 * * ?"/>
    </bean>-->
    <bean id="checkVnptEpayWebService" class="com.vss.cardservice.service.job.CheckVnptEpayWebService">
        <property name="cronExpression" value="0 5 * * * ?"/>
    </bean>

    <bean id="voucherService" class="com.vss.cardservice.webservice.VoucherService">
        <property name="partnerService" ref="partnerService"/>
        <property name="issuerService" ref="issuerService"/>
        <property name="transactionService" ref="transactionService"/>
    </bean>
    
    <bean id="transactionProcess" class="com.vss.cardservice.service.util.TransactionProcess">
        <property name="transactionService" ref="transactionService"/>
        <property name="cardServiceLocalFactory" ref="cardServiceLocalFactory"/>
    </bean>

    <bean id="threadManager" class="com.vss.cardservice.service.util.ThreadManager">
        <property name="transactionProcess" ref="transactionProcess"/>
    </bean>
    <bean id="checkVinaWebService" class="com.vss.cardservice.service.job.CheckVinaWebService">
        <property name="cronExpression" value="0 0/5 * * * ?"/>
    </bean>
    <bean id="checkViettelWebService" class="com.vss.cardservice.service.job.CheckViettelWebService">
        <property name="cronExpression" value="0 0/5 * * * ?"/>
    </bean>
    <bean id="checkCardServiceWebService" class="com.vss.cardservice.service.job.CheckCardServiceWebService">
        <property name="cronExpression" value="0 0/5 * * * ?"/>
    </bean>
    <bean id="checkFGameWebService" class="com.vss.cardservice.service.job.CheckFGameWebService">
        <property name="cronExpression" value="0 0/5 * * * ?"/>
    </bean>
    <bean id="checkVDCWebService" class="com.vss.cardservice.service.job.CheckVDCWebService">
        <property name="cronExpression" value="0 0/5 * * * ?"/>
    </bean>
    <bean id="viettelUpdateTransactionJob" class="com.vss.cardservice.service.job.ViettelUpdateTransactionJob">
        <property name="cronExpression" value="0 0 3 * * ?"/>
    </bean>
    <bean id="updateTransactionFailedJob" class="com.vss.cardservice.service.job.UpdateTransactionFailedJob">
        <property name="cronExpression" value="0 0/5 * * * ?"/>
        <!--<property name="transactionService" ref="transactionService"/>-->
    </bean>
    <bean id="keepSessionJobTriger" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
               <!-- <ref bean="keepMobiSessionJob"/>
                <ref bean="viettelUpdateTransactionJob"/>-->
                <!--<ref bean="updateTransactionFailedJob"/>-->

               <!-- <ref bean="checkMobiWebService"/>
                <ref bean="checkVinaWebService"/>
                <ref bean="checkViettelWebService"/>-->
                
                <!--<ref bean="checkCardServiceWebService"/>-->
                <!--<ref bean="checkFGameWebService"/>-->
                <!--<ref bean="checkVnptEpayWebService"/>
                <ref bean="keepVnptEpaySessionJob"/>-->
                <!--<ref bean="checkVDCWebService"/>-->
            </list>
        </property>
    </bean>
</beans>